*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #1F2947;
    height: 450px;
}

.container-header{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.container-header p{
    font-size: 24px;
    color: #F9FAF8;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

li a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.container-title{
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 100px;
    gap: 50px;
}

.container-title__title h1{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    font-family: extra-bold, sans-serif;
}

.container-title__title p{
    color: #E5E7EB;
    font-size: 18px;
}

.container-title__title button{
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: #3882F6;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    margin-top: 15px;
}

.container-title__title button:hover{
    background-color: #2c6cd3;
}

.container-title__img img{
    width: 500px;
    height: 230px;
}

.section-container{
    background-color: #fff;
}

.section-container h2{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-family: extra-bold, sans-serif;
    padding-top: 40px;
}

.section-cards{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.section-card-container{
    width: 200px;
}

.section-card-container p{
    padding-top: 10px;
    font-size: 24px;
    color: #1d1f1a91;
}

.section-card-container__img{
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 25px;
}

.section-card-container__img img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


.section-phrase{
    margin-top: 150px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.section-phrase-p{
    width: 60%;
    font-size: 36px;
    color: #1F2937;
}

.section-phrase-author{
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

.section-phrase-author p{
    font-weight: bold;
    font-size: 25px;
}

.section-singup{
    height: 250px;
    
}

.section-singup-container{
    background-color: #025ef1;
    width: 70%;
    margin: auto;
    margin-top: 100px;
    color: #fff;
    height: 150px;
    border-radius: 5px;
}

.section-singup-singup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 80px;
} 


.section-singup-text1{
    font-size: 30px;
    font-weight: 700;
}

.section-singup-text2{
    font-size: 20px;
    font-weight: 100;
}


.section-sing-up button{
    background-color: #025ef1;
    color: #fff;
    width: 120px;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    border: 3px solid #fff;
    cursor: pointer;
}

.section-sing-up button:hover{
    background-color: #2c6cd3;
}

footer{
    background-color: #1F2947;
    height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}